.media-header-navigation-link {
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  color: var(--selectable-color);
  transition: var(--selectable-item-transition);
}

.media-header-navigation-link:hover {
  color: var(--selectable-hovered-color);
}

.media-header-navigation-link.active {
  background-color: var(--selectable-active-bg-color);
  color: var(--selectable-active-color);
}
