.media-progress-container {
  position: relative;
}

.media-progress-container:hover .media-progress-handler {
  opacity: 1;
}

.media-progress-container:hover .media-progress-bar {
  background-color: white;
}

.media-progress-bar-container {
  display: flex;
  height: 4px;
  overflow: hidden;
  background-color: #8c8c8c45;
  border-radius: 0.25rem;
}

.media-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: #8c8c8c;
}

.media-progress-bar-dragging {
  background-color: white;
}

.media-progress-handler {
  position: absolute;
  height: 12px;
  width: 12px;
  top: -4px;
  left: 0;
  background-color: #e9ecef;
  border-radius: 50%;
  margin-left: -6px;
}

.media-progress-handler:not(.media-progress-handler-dragging) {
  opacity: 0;
}
