.button {
  color: var(--selectable-color);
  display: inline-block;
  transition: var(--selectable-item-transition);
}

.button[disabled] {
  color: var(--button-disabled-color) !important;
  outline: none;
}

.button[disabled]:hover {
  cursor: default;
}

.button-icon {
  margin-right: 5px;
}

.button[disabled] > .button-icon {
  color: var(--button-disabled-color);
}

.button:not([disabled]):hover {
  color: var(--light-text-color);
}
