/*base button*/

.button {
  color: var(--text-dark-color);
  display: inline-block;
  transition: var(--selectable-item-transition);
}

.button[aria-disabled="false"]:hover {
  color: var(--selectable-hovered-color);
}

.button[aria-disabled="true"] {
  color: var(--text-disabled-color) !important;
  outline: none;
}

.button[aria-disabled="true"]:hover {
  cursor: not-allowed;
}

/*primary button*/

.button.primary {
  color: var(--text-light-color);
  background-color: var(--button-primary-bg-color);
}

.button.primary[aria-disabled="false"]:hover {
  background-color: var(--button-primary-hovered-bg-color);
}

.button.primary[aria-disabled="false"]:active {
  background-color: var(--button-primary-active-bg-color);
}

.button.primary[aria-disabled="true"] {
  background-color: var(--selectable-bg-color);
}

/*rounded button (variants - primary, outline, lg)*/

.button.rounded {
  --size: 2.75rem;
  --scale: 1;

  inline-size: calc(var(--size) * var(--scale));
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  display: inline-grid;
  place-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
  font: inherit;
  line-height: 1;
  user-select: none;
  font-size: calc(var(--size) * 0.35 * var(--scale));
}

.button.rounded.lg {
  --scale: 1.2;
}

.button.rounded.outline {
  color: var(--selectable-color);
  background: var(--selectable-bg-color);
}

.button.rounded.primary {
  box-shadow: 0 8px 32px rgb(0 0 0 / 80%);
}

.button[aria-disabled="false"].rounded.outline:hover {
  background: var(--selectable-hovered-bg-color);
}

.button.rounded[aria-disabled="true"] {
  box-shadow: none;
}

/*button icon*/

.button-icon {
  margin-right: 5px;
}

.button[aria-disabled="true"] > .button-icon {
  color: var(--text-disabled-color);
}
