.media-button[disabled] {
  color: var(--dark-disabled-button-color);
  outline: none;
}

.media-button[disabled]:hover {
  cursor: default;
}

.media-button-icon {
  margin-right: 5px;
}

.media-button[disabled] > .media-button-icon {
  color: var(--dark-disabled-button-color);
}
