.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-item {
}

.list-item-content.dragging {
  /* this was added for preventing clicks on elements like <a> when item is being dragged */
  /* this would then prevents say opening the link while item is being dragged */
  pointer-events: none;
}
