.settings-add-directory-button {
  color: var(--dark-button-color);
  transition: var(--selectable-item-transition);
}

.settings-add-directory-button:hover {
  color: var(--light-button-color);
}

.settings-add-directory-button-icon {
  color: var(--bs-success);
}
