.text-input-container {
  width: 100%;
  position: relative;
}

.text-input-container:focus-within {
  box-shadow: inset 0 0 0 2px var(--selectable-focus-ring-color);
}

.text-input {
  width: inherit;
  color: var(--text-dark-color);
  background: none;
  border: none;
  padding: 0 20px;
}

.text-input:focus,
.text-input:focus-visible {
  outline: none;
  box-shadow: none;
}

.text-input-overlay {
  position: absolute;
  inset: 10px;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: space-between;
}

.text-input-icon {
  color: var(--text-dark-color);
  opacity: .2;
  transition: var(--selectable-item-transition);
  text-align: center;
}

.text-input-clear-button {
  pointer-events: auto;
}

.text-input-clear-button:hover .text-input-icon {
  opacity: 1;
}
