.media-player-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  color: var(--light-text-color);
  background-color: var(--dark-music-player-bg-color);
  padding: 10px;
  user-select: none;
}

.media-player-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.media-player-info-column {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.media-player-track-cover-image {
  height: 70px;
  width: 70px;
  /* size for placeholder icon */
  font-size: 30px;
}

.media-player-track-info-container {
  margin: 15px;
}

.media-track-like-column {
  text-align: end;
}

.media-player-controls-container {
  text-align: center;
  color: var(--light-text-color);
}

.media-player-controls-column {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.media-player-control {
  text-align: center;
  padding: 5px;
  margin: 2px;
  transition: var(--selectable-item-transition);
}

.media-player-control:not([disabled]):hover {
  color: var(--light-text-color);
}

.media-player-control.media-player-control-sm {
  font-size: 15px;
  color: var(--dark-button-color);
}

.media-player-control.media-player-control-md {
  font-size: 18px;
  color: var(--dark-button-color);
}

.media-player-control.media-player-control-lg {
  font-size: 30px;
  color: var(--light-button-color);
}

.media-player-progress-container {
}

.media-player-progress-column {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.media-player-progress-bar-container {
  margin: 0 10px;
  width: 70%;
}

.media-player-progress-counter {
  color: var(--dark-text-color);
  width: 15%;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 1px;
}

.media-player-progress-counter.start {
  text-align: right;
}

.media-player-progress-counter.end {
  text-align: left;
}

.media-player-side-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.media-player-side-controls-column {
  display: flex;
  flex-flow: row;
  align-items: center;
  max-width: 220px !important;
}

.media-player-volume-button {
  /*in order to have a consistent width for various volume indicators, we are setting a min-width*/
  /*so that it doesn't affects further items in the row*/
  min-width: 34px;
}

.media-player-volume-bar-container {
  width: 100%;
}
