{
  "rules": {
    // a temporary hack related to IDE not resolving correct package.json
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": "off",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "never",
        "afterOpening": "never",
        "beforeClosing": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "services/**.ts"
      ],
      "rules": {
        "class-methods-use-this": "off"
      }
    }
  ]
}
