.media-content-navigator {
  display: flex;
  flex-direction: row;
}

.media-content-navigate-button {
  background-color: #181818;
  color: #fff;
  display: flex;
  align-self: center;
  padding: 8px 12px;
  border-radius: 50%;
  margin: 0 15px;
  line-height: 100%;
}
