.settings-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.settings-header {
  font-weight: 700;
  font-size: 30px;
}

.settings-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-section > .settings-heading {
  font-weight: 700;
}

.settings-section > .settings-content {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.settings-content.links {
  color: var(--text-dark-color);
}
