/*app > columns [splash, stage, media player]*/

.app-splash-container {
  width: 100%;
  height: 100%;
  background-color: var(--stage-content-bg-color);
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

/*app > stage*/

.app-stage-container {
  flex: 1 0 0;
  display: flex;
  flex-flow: row;
}

/*app > media player*/

.app-media-player-container {
  flex: 0 0 100px;
  margin-bottom: -100px;
  transition: margin-bottom .4s ease;
}

.app-media-player-container.active {
  margin-bottom: 0;
}
