.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.app-splash {
  width: 100%;
  height: 100%;
  background-color: var(--stage-content-bg-color);
}

.app-stage {
  flex: 1 0 0;
  display: flex;
  flex-flow: row;
}

.app-player {
  flex: 0 0 100px;
  margin-bottom: -100px;
  transition: margin-bottom .4s ease;
}

.app-player.active {
  margin-bottom: 0;
}
