.collection-item {
  padding: 10px;
  transition: var(--selectable-item-transition);
  border-radius: 5px;
}

.collection-item:focus {
  background-color: var(--selectable-focused-bg-color) !important;
}

.collection-item:hover {
  background-color: var(--selected-bg-color);
}

.collection-item-main-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collection-item-main-column .collection-item-section:not(:last-child) {
  margin-right: 20px;
}

.collection-item-action-button {
  background: none;
  border: none;
  color: var(--dark-button-color);
  font-size: 14px;
}

.collection-item-side-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.collection-item-info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
}

.collection-item-info-title {
  font-size: 15px;
  color: var(--light-text-color);
}

.collection-item-info-subtitle {
  font-size: 13px;
  color: var(--dark-text-color);
}
