.collection-item {
  transition: var(--selectable-item-transition);
  border-radius: 5px;
  display: block;
}

.collection-item:focus,
.collection-item:hover,
.collection-item.active,
.collection-item.selected {
  background-color: var(--selectable-hovered-bg-color);
}

.collection-item:hover .collection-item-playback-button {
  color: var(--selectable-hovered-color);
}

.collection-item.compact:hover .collection-item-cover-content {
  opacity: 1 !important;
}

.collection-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.collection-item.compact .collection-item-content {
  gap: 10px;
}

.collection-item-cover {
  width: 50px;
  height: 50px;
}

.collection-item-info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  gap: 5px;
}

.collection-item-info-title {
  font-size: 15px;
  color: var(--text-light-color);
}

.collection-item-info-subtitle {
  font-size: 13px;
  color: var(--text-dark-color);
}

.collection-item.current .collection-item-info-title {
  font-weight: bold;
}
