.sidebar {
  width: 35%;
  min-width: 250px;
  max-width: 350px;
  background-color: var(--stage-bg-color);
  color: var(--text-dark-color);
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  margin: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 20px;
}

.sidebar-header {
  height: var(--titlebar-overlay-height);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
}

.sidebar-navigation-list {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto; /* only take needed space */
  /* this is to keep vertically inline with the scrollable list below it */
  padding-left: var(--scrollable-scrollbar-width);
  padding-right: var(--scrollable-scrollbar-width);
  gap: 5px;
}

.sidebar-navigation-item {
  font-size: 15px;
  padding: 10px 12px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  color: var(--selectable-color);
  transition: var(--selectable-item-transition);
}

.sidebar-navigation-item:hover {
  color: var(--selectable-hovered-color);
}

.sidebar-navigation-item.active {
  background-color: var(--selectable-active-bg-color);
  color: var(--selectable-active-color);
}

.sidebar-navigation-item-icon {
  margin-right: 10px;
}

.sidebar-quick-access {
  flex: 1 0 0; /* stretch to fill remaining space */
  padding: var(--selectable-focus-ring-size); /* this is to not clip focus ring */
}

.sidebar-logo {
  /*background-image: url('../../../assets/logo-wide.png');*/
  background-size: contain;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
