.media-player-container {
  position: fixed;
  width: 100%;
  color: white;
  background-color: #181818;
  left: 0;
  bottom: 0;
  padding: 10px;
  user-select: none;
}

.media-player-content {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.media-player-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.media-player-info-column {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.media-track-like-column {
  text-align: end;
}

.media-player-controls-container {
  text-align: center;
  color: white;
  /*background-color: rebeccapurple;*/
}

.media-player-controls-column {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.media-player-control {
  text-align: center;
  padding: 5px 10px;
  transition: color .1s ease;
  /*background-color: green;*/
}

.media-player-control.media-player-control-sm {
  font-size: 15px;
  color: #8c8c8c;
}

.media-player-control.media-player-control-md {
  font-size: 20px;
  color: #8c8c8c;
}

.media-player-control.media-player-control-lg {
  font-size: 30px;
}

.media-player-control:hover {
  color: white;
}

.media-player-progress-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  /*background-color: gray;*/
}

.media-player-progress-bar-column {
}

.media-player-progress-counter-column {
  color: #8c8c8c;
  font-size: 10px;
  font-weight: 500;
  /*background-color: green;*/
}

.media-player-progress-counter-column.start {
  text-align: right;
}

.media-player-progress-counter-column.end {
  text-align: left;
}

.media-player-side-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.media-player-side-controls-column {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.media-player-volume-bar-container {
  padding-left: 10px;
  width: 100%;
}
