.browser {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--stage-content-bg-color);
  color: var(--text-light-color);
  overflow: hidden;
}

.browser-header {
  display: flex;
  align-items: center;
  flex: 0 0 50px;
  height: var(--titlebar-overlay-height);
  margin: 5px 20px;
  gap: 15px;
}

.browser-viewport {
  flex: 1 0 0;
  padding: 10px;
}
