.media-track-info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
}

.media-track-info-title {
  font-size: 15px;
  color: var(--light-text-color);
}

.media-track-info-subtitle {
  font-size: 13px;
  color: var(--dark-text-color);
}

.media-track-artist-link {
  font-size: inherit;
  color: inherit !important;
  padding: 0;
  text-decoration: none;
  transition: var(--selectable-item-transition);
  background: none;
  border: none;
}

.media-track-artist-link:hover {
  color: var(--light-text-color) !important;
  text-decoration: underline;
}

.media-track-info-subtitle .media-track-artist-link:not(:first-child) {
  margin-left: 5px;
}
