.media-track-cover-picture-container {
  height: 70px;
  width: 70px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #2b2b2b;*/
}

.media-track-cover-picture-container > img {
  width: 100%;
}
