.media-cover-picture {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
}

.media-cover-picture > img {
  width: 100%;
}

/*a trick learned from https://mademyday.de/height-equals-width-with-pure-css*/
/*to keep the aspect ratio for the cover image to 1:1*/

.media-cover-picture::before {
  content: "";
  float: left;
  padding-top: 100%;
}

.media-cover-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: inherit;
  height: inherit;
}

.media-cover-placeholder-icon {
  font-size: inherit;
  color: var(--text-dark-color);
}
