/*
 * note - prepend a `~` to css file paths that are in your node_modules
 * @see - https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --dark-bg-color: #121212;
  --dark-card-bg-color: #181818;
  --dark-selectable-outline-color: #383838;
  --dark-disabled-button-color: #383838;
  --dark-music-player-bg-color: #181818;
  --dark-music-player-border-color: #282828;
  --light-bg-color: #1d1d1d;
  --dark-text-color: #b3b3b3;
  --dark-button-color: #b3b3b3;
  --light-text-color: #fff;
  --light-button-color: #e9ecef;
  --light-toggle-active-color: #009233;
  --light-toggle-color: #1db954;
  --selected-bg-color: #282828;
  --selected-text-color: #fff;
  --selectable-item-transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
  --titlebar-overlay-height: 60px;
  --scrollable-scrollbar-width: 15px;
  --slide-in-item-transition: opacity 200ms ease, bottom 200ms, right 200ms ease;
}

#title-bar-overlay {
  width: 100%;
  top: 0;
  height: var(--titlebar-overlay-height);
  left: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.app-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.app-scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

.app-scrollable::-webkit-scrollbar {
  width: var(--scrollable-scrollbar-width);
  background-color: transparent;
}

.app-scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6d6d6d;
  /* Transparent border together with `background-clip: padding-box` does the trick */
  /* See - https://gist.github.com/flekschas/a817fd1a67aaca511964 */
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.app-nav-link {
  text-decoration: none;
}
