.media-track {
  transition: var(--selectable-item-transition);
  border-radius: 5px;
}

.media-track:focus-within,
.media-track.selected {
  background-color: var(--selectable-focused-bg-color) !important;
}

.media-track:hover {
  background-color: var(--selectable-hovered-bg-color);
}

.media-track:hover .media-track-playback-button {
  color: var(--selectable-hovered-color);
}

.media-track.current .media-track-info {
  font-weight: bold;
}

.media-track-content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.media-track-cover {
  width: 50px;
  height: 50px;
}

.media-track-side-column {
  margin-left: auto; /* push side column all the way to the end */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.media-track-like-button:not(:global(.active)) {
  opacity: 0 !important;
}

.media-track:hover .media-track-like-button,
.media-track:focus-within .media-track-like-button,
.media-track.selected .media-track-like-button {
  opacity: 1 !important;
}

.media-track-duration {
  color: var(--text-dark-color);
  font-size: 12px;
  letter-spacing: 1px;
}
