.media-track {
  padding: 10px;
  transition: var(--selectable-item-transition);
  border-radius: 5px;
}

.media-track:focus {
  background-color: var(--selectable-focused-bg-color) !important;
}

.media-track:hover {
  background-color: var(--selectable-hovered-bg-color);
}

.media-track:hover .media-track-action-button {
  color: var(--selectable-hovered-color);
}

.media-track-main-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.media-track-main-column .media-track-section:not(:last-child) {
  margin-right: 20px;
}

.media-track-cover {
  width: 50px;
  height: 50px;
}

.media-track-action-button {
  background: none;
  border: none;
  color: var(--selectable-color);
  font-size: 14px;
  transition: var(--selectable-item-transition);
}

.media-track-side-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.media-track-duration {
  color: var(--text-dark-color);
  font-size: 12px;
  letter-spacing: 1px;
}
